@use 'variables';
@use 'mixins';

@mixin button {
    background-color: $green-900;
    color: $grey-50;
    height: 3rem;
    min-width: 116px;
    border-radius: 0.313rem;
    box-shadow: none;
    border: none;
    cursor: pointer;
    @include text-preset-3;

    &:hover {
        background-color:$green-200;
        color: $green-900;
    }
}