@use 'variables';
@use 'mixins';

@mixin button {
    background-color: variables.$green-900;
    color: variables.$grey-50;
    height: 3rem;
    min-width: 116px;
    border-radius: 0.313rem;
    box-shadow: none;
    border: none;
    cursor: pointer;
    @include mixins.text-preset-3;

    &:hover {
        background-color: variables.$green-200;
        color: variables.$green-900;
    }
}