@use 'variables';

@mixin text-preset-1 {
    font-family: $font-family;
    font-size: 2.313rem; /* 37px */
    line-height: 2.625rem; /* 42px */
    letter-spacing: 0px;
}

@mixin text-preset-2 {
    font-family: $font-family;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    letter-spacing: 0px;
}

@mixin text-preset-3 {
    font-family:  $font-family;
    font-size: 1.125rem; /* 18px */
    line-height: 1.5rem; /* 24px */
    letter-spacing: 0rem;
}

@mixin text-preset-4 {
    font-family:  $font-family;
    font-size: 1rem; /* 16px */
    line-height: 1.25rem; /* 20px */
    letter-spacing: 0rem;
}